<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <img class="img-resize" src="https://i2.wp.com/www.kmids.ac.th/wp-content/uploads/2017/07/WEBH1.png" alt="kmids">
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <p class="control">
          <a class="button is-primary" (click)="addstudent()">
                  <span class="icon">
                          <i class="fa fa-user-plus"></i>
                  </span>
                  <span>
                          Add Student
                  </span>
          </a>
          </p>
      </div>
    </div>
  </div>
</nav>
<br>
<article class="tile is-child box">
<table class="table is-fullwidth is-striped">
  <tr>
      <td class="title is-6" style="background-color:rgb(220, 220, 220);">Student Code</td>
      <td class="title is-6" style="background-color:rgb(220, 220, 220);">Fist Name</td>
      <td class="title is-6" style="background-color:rgb(220, 220, 220);">Last Name</td>
      <td class="title is-6" style="background-color:rgb(220, 220, 220);">Middle Name</td>
      <td class="title is-6" style="background-color:rgb(220, 220, 220);">Admit Year</td>
      <td class="title is-6" style="background-color:rgb(220, 220, 220);">Current Grade</td>
      <td class="title is-6" style="background-color:rgb(220, 220, 220);">Action</td>
    </tr>
<tr *ngFor="let student of students">
  <td> {{ student.studentCode}}</td>
  <td> {{ student.firstName}}</td>
  <td> {{ student.lastName}}</td>
  <td> {{ student.middleName}}</td>
  <td> {{ student.admitYear}}</td>
  <td> {{ student.currentGrade}}</td>
  
  <td> <a (click)="update(student.id)">
    <span class="icon">
        <i class="fa fa-pencil-alt"></i>
</span>
</a>
  &nbsp;
  <a (click)="remove(student)">        
    <span class="icon">
      <i class="fa fa-eraser"></i>
</span></a></td>
</tr>
</table>
</article>
