<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <img class="img-resize" src="https://i2.wp.com/www.kmids.ac.th/wp-content/uploads/2017/07/WEBH1.png" alt="kmids">
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <p class="control">
          <a class="button is-success" (click)="Back()">
            <span class="icon">
              <i class="fa fa-chevron-left"></i>
            </span>
            <span>
              Back
            </span>
          </a>
        </p>
      </div>
    </div>
  </div>
</nav>

<div style="background-color:rgb(231, 228, 228);">
  <div *ngIf="isFormReady" [formGroup]="studentForm">
    <article class="tile is-child box">
      <div class="columns">
        <div class="column is-1"></div>
        <div class="column is-7">
          <div class="columns">
            <div class="column">
              <label>
                <font color="#848181">Student Code :</font>
              </label>
              <input #code type="text" formControlName="studentCode" class="input form-control" style="width:250px"
                placeholder="Student Code">
            </div>
            <div class="column">
              <label>
                <font color="#848181">Card ID :</font>
              </label>
              <input type="text" formControlName="cardId" class="input form-control" style="width:250px" placeholder="Card ID">
            </div>
            <div class="column">
              <label>
                <font color="#848181">ID Card :</font>
              </label>
              <input type="text" formControlName="idCard" class="input form-control" style="width:250px" placeholder="ID Card">
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <label>
                <font color="#848181">First Name :</font>
              </label>
              <input #code type="text" formControlName="firstName" class="input form-control" style="width:250px"
                placeholder="First Name">
            </div>
            <div class="column">
              <label>
                <font color="#848181">Last Name :</font>
              </label>
              <input type="text" formControlName="lastName" class="input form-control" style="width:250px" placeholder="Last Name">
            </div>
            <div class="column">
              <label>
                <font color="#848181">Middle Name :</font>
              </label>
              <input #code type="text" formControlName="middleName" class="input form-control" style="width:250px"
                placeholder="Middle Name">
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <label>
                <font color="#848181">E-Mail :</font>
              </label>
              <input #code type="text" formControlName="email" class="input form-control" style="width:250px"
                placeholder="E-Mail">
            </div>
            <div class="column">
              <label>
                <font color="#848181">Phone :</font>
              </label>
              <input type="text" formControlName="phone" class="input form-control" style="width:250px" placeholder="Phone">
            </div>
            <div class="column">
              <label>
                <font color="#848181">Admit Year :</font>
              </label>
              <input #code type="text" formControlName="admitYear" class="input form-control" style="width:250px"
                placeholder="Admit Year">
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <label>
                <font color="#848181">Entry Grade :</font>
              </label>
              <input type="text" formControlName="entryGrade" class="input form-control" style="width:250px"
                placeholder="Entry Grade">
            </div>
            <div class="column">
              <label>
                <font color="#848181">Current Grade :</font>
              </label>
              <input type="text" formControlName="currentGrade" class="input form-control" style="width:250px"
                placeholder="Cntry Grade">
            </div>
            <div class="column">
              <label>
                <font color="#848181">Current Room :</font>
              </label>
              <input type="text" formControlName="currentRoom" class="input form-control" style="width:250px"
                placeholder="Current Room">
            </div>
          </div>

          <div formGroupName="address">
            <div class="columns">
              <div class="column">
                <label>
                  <font color="#848181">Address1 :</font>
                </label>
                <input #code type="text" formControlName="address1" class="input form-control" style="width:250px"
                  placeholder="Address1">
              </div>
              <div class="column">
                <label>
                  <font color="#848181">Address2 :</font>
                </label>
                <input type="text" formControlName="address2" class="input form-control" style="width:250px"
                  placeholder="Address2">
              </div>
              <div class="column">
                <label>
                  <font color="#848181">Zip Code :</font>
                </label>
                <input #code type="text" formControlName="zipCode" class="input form-control" style="width:250px"
                  placeholder="Zip Code">
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <label>
                  <font color="#848181">Country Name :</font>
                </label>
                <div class="select">
                  <select formControlName="countryId" style="width:250px">
                    <option value="">--Select City--</option>
                    <option [value]="country.id" *ngFor="let country of countrydata"> {{country.name}}</option>
                  </select>
                </div>
              </div>
              <div class="column">
                <label>
                  <font color="#848181">City Name :</font>
                </label>
                <div class="select">
                  <select formControlName="cityId" style="width:250px">
                    <option value="">--Select Country--</option>
                    <option [value]="city.id" *ngFor="let city of citydata">{{city.name}}</option>
                  </select>
                </div>
              </div>
              <div class="column"></div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <br>
    <article class="tile is-child box">
      <div formArrayName="studentParents">
        <div *ngFor="let studentParent of studentParents.controls;let i = index;">
          <div [formGroupName]=i>
            <div class="columns">
              <div class="column is-1"></div>
              <div class="column is-7">
                <div class="columns">
                  <div class="column">
                    <label>
                      <font color="#848181">Relation Name :</font>
                    </label>
                    <input type="text" formControlName="relationName" class="input form-control" style="width:250px"
                      placeholder="Relation Name">
                  </div>
                  <div class="column"></div>
                  <div class="column"></div>
                </div>

                <div formGroupName="parent">
                  <div class="columns">
                    <div class="column">
                      <label>
                        <font color="#848181">First Name :</font>
                      </label>
                      <input type="text" formControlName="firstName" class="input form-control" style="width:250px"
                        placeholder="First Name">
                    </div>
                    <div class="column">
                      <label>
                        <font color="#848181">Last Name :</font>
                      </label>
                      <input type="text" formControlName="firstName" class="input form-control" style="width:250px"
                        placeholder="Last Name">
                    </div>
                    <div class="column">
                      <label>
                        <font color="#848181">Middle Name :</font>
                      </label>
                      <input #code type="text" formControlName="middleName" class="input form-control" style="width:250px"
                        placeholder="Middle Name">
                    </div>
                  </div>

                  <div class="columns">
                    <div class="column">
                      <label>
                        <font color="#848181">ID Card :</font>
                      </label>
                      <input type="text" formControlName="idCard" class="input form-control" style="width:250px"
                        placeholder="ID Card">
                    </div>
                    <div class="column">
                      <label>
                        <font color="#848181">E-Mail :</font>
                      </label>
                      <input #code type="text" formControlName="email" class="input form-control" style="width:250px"
                        placeholder="E-Mail">
                    </div>
                    <div class="column">
                      <label>
                        <font color="#848181">Phone :</font>
                      </label>
                      <input type="text" formControlName="phone" class="input form-control" style="width:250px"
                        placeholder="Phone">
                    </div>
                  </div>

                  <div class="columns">
                    <div class="column">
                      <label>
                        <font color="#848181">Card ID :</font>
                      </label>
                      <input type="text" formControlName="cardId" class="input form-control" style="width:250px"
                        placeholder="Card ID">
                    </div>
                    <div class="column"></div>
                    <div class="column"></div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <button (click)="update()">update</button>
    </article>
  </div>
</div>
